********** Baseline,
reset styles ********** input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 100px;
}

/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
  background-color: #858e8e;
  border-radius: 0px;
  height: 2px;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -4px; /* Centers thumb on the track */
  background-color: #fffafa;
  border-radius: 10px;
  height: 10px;
  width: 10px;
}

input[type="range"]:focus::-webkit-slider-thumb {
  outline: 3px solid #fffafa;
  outline-offset: 0.125rem;
}

/*********** Firefox styles ***********/
/* slider track */
input[type="range"]::-moz-range-track {
  background-color: #858e8e;
  border-radius: 0px;
  height: 2px;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
  background-color: #fffafa;
  border: none; /*Removes extra border that FF applies*/
  border-radius: 10px;
  height: 10px;
  width: 10px;
}

input[type="range"]:focus::-moz-range-thumb {
  outline: 3px solid #fffafa;
  outline-offset: 0.125rem;
}


[{"url": "assets/fabric-template-thumb/ball.jpg", "name": "Ball", "sketchfab_id": "f1fc738e96004931a396b49fb4b48821"}, {"url": "assets/fabric-template-thumb/fabric.jpg", "name": "Fabric", "sketchfab_id": "127f49bda0ba4e5abff15a617dc871af"}, {"url": "assets/fabric-template-thumb/b90e877252fd40f4a380c0caba0d98cd.jpg", "name": "Cloth Rig HEDY", "sketchfab_id": "b90e877252fd40f4a380c0caba0d98cd"}, {"url": "assets/fabric-template-thumb/BAll2_UV8_BONDEX.jpg", "name": "BAll2 UV8 - BONDEX Edition", "sketchfab_id": "c44e86b6185c4f5182d54b81fd22669c"}, {"url": "assets/fabric-template-thumb/lens.jpg", "name": "Lens", "sketchfab_id": "78db8224d87149aea8e9278a21046aa6"}, {"url": "assets/fabric-template-thumb/washing.jpg", "name": "Washing", "sketchfab_id": "695645ba39a14d4ebfc4a81d44644d22"}, {"url": "assets/fabric-template-thumb/fabricC.jpg", "name": "Fabric_C", "sketchfab_id": "f805698c43cf40209b5ec0c998a3306e"}, {"url": "assets/fabric-template-thumb/scale_1_fabric.png", "name": "Scale_1_Fabric", "sketchfab_id": "ba6e07e375f64e4a80ebbfbe0f34a6b9"}, {"url": "assets/fabric-template-thumb/fabric_u.jpg", "name": "Fabric_U", "sketchfab_id": "647b6c20b9984ad1a3fea60c15f6343e"}]